doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='The official website of JamesTGH with no intention of improving it.')
    meta(name='author', content='JamesTGH')
    meta(name='viewport', content='width=800, user-scalable=yes')
    title Error | JamesTGH
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    #error
      .text
        h1 Error #{status}